<div class="borang">
  <div class="form_area">
    <h2> Twig your Happy Story<h2> <br>

      <form action="/posts/<%= @post.id %>" method="post">
        <input type="hidden" value="patch" name="_method">

        <label for="">Title : </label><br>
        <input type = "textarea-version2" name="title" value="<%= @post.title %>"><br>

      <label for="">Body : </label><br>
      <textarea name="body"><%= @post.body %></textarea>

      <button class="button_1"> Update Post </button>

    </form>
  </div>
</div>

<!-- <div class="borang">
  <div class="form_area">
<h1> FORM to edit pre existing page </h1> <br>

  <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" value="patch" name="_method">

    <label for="">Title : </label>
    <input type = "text" name="title" value="<%= @post.title %>"><br>

    <label for="">Body : </label>
    <input type = "text" name="body" value="<%= @post.body %>"><br>

    <button> Update! </button>
  </form>
  </div>
</div> -->
