<div class="show_single_content">
  <h1> <%= @post.title %> </h1>
  <div class="show_single_content_subtitle">
    <span id="written_by"> Written by: <%= @user.name %></span>

    <% if @post.user_id == current_user.id %>
      <span id="float_right_button"><a href="/delete/<%= @post.id %>"> Delete </a></span>
      <span id="float_right_button"><a href="/posts/<%= @post.id %>/edit"> Edit </a></span>
    <% end %>
  </div>
  <div class="show_single_content_body">
    <p><%= @post.body %></p>
  </div>
  <div class="show_single_content_body">
    <form action="/posts">
      <button class="button_1"> Story Board </button>
    </form>
  </div>


</div>
